<footer class='footer'>
    <div class='row'>
        <div class='col-12'>
            <p class='footer__links text-muted'>
                <a class='footer__link' href='/legal/legal_notice'>Legal Notice</a> | 
                <a class='footer__link' href='/legal/privacy_notice'>Privacy Policy</a>
            </p>
            <p class='footer__credit text-muted' style=''>Built with
                <a href='https://genieframework.com' target='_blank' class='_genie_logo' ref='nofollow'>Genie</a>
            </p>
        </div>
    </div>
</footer>