<div id="simulation-input-form" class="col-3 rounded-corners" style="height: 90vh;">
    <q-form
      @submit="onSubmit"
      class="h-100 d-flex flex-column"
    >
        <h2 class="section-title">Simulation Input</h2>
        <div class="scrollbar">
            <h3>Column</h3>
            <table class="input-table">
                <tr>
                    <td>Stationary phase</td>
                    <td>
                        <q-select 
                            v-model="stationary_phase" 
                            :options="stationary_phase_options"
                            filled
                            style="max-width: 200px"
                        />
                    </td>
                </tr>
                <tr>
                    <td>Column length (m)</td>
                    <td>
                        <q-input 
                            v-model.number="column_length"
                            type="number"
                            filled
                            step="0.1"
                            style="max-width: 200px"
                        />
                    </td>
                </tr>
                <tr>
                    <td>Column diameter (mm)</td>
                    <td>
                        <q-input 
                            v-model.number="column_diameter"
                            type="number"
                            filled
                            step="0.01"
                            style="max-width: 200px"
                        />
                    </td>
                </tr>
                <tr></tr>
                    <td>Film thickness (µm)</td>
                    <td>
                        <q-input 
                            v-model.number="film_thickness"
                            type="number"
                            filled
                            step="0.01"
                            style="max-width: 200px"
                        />
                    </td>
                </tr>
            </table>
            <hr>
            <h3>Flow</h3>
            <table class="input-table">
                <tr>
                    <td>Flow rate (mL/min)</td>
                    <td>
                        <q-input 
                            v-model.number="flow_rate"
                            type="number"
                            filled
                            step="0.1"
                            style="max-width: 200px"
                        />
                    </td>
                </tr>
                <tr>
                    <td>Outlet pressure</td>
                    <td>
                        <q-select 
                            v-model="outlet_pressure" 
                            :options="outlet_pressure_options"
                            filled
                            style="max-width: 200px"
                        />
                    </td>
                </tr>
                <tr>
                    <td>Gas</td>
                    <td>
                        <q-select 
                            v-model="gas" 
                            :options="gas_options"
                            filled
                            style="max-width: 200px"
                        />
                    </td>
                </tr>
            </table>
            <hr>
            <h3>Temperature</h3>
            <table>
                <tr>
                    <td class="text-bold">
                        Number of heating rates:
                    </td>
                    <td>
                        <q-input 
                            v-model.number="number_of_heating_rates"
                            type="number"
                            filled
                            step="1"
                            style="max-width: 70px"
                        />
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Heating rate (°C/min)</th>
                    <th>Temperature (°C)</th>
                    <th>Hold time (min)</th>
                </tr>
                <tr v-for="(_, index) in Array(Number(number_of_heating_rates) + 1)">
                    <td v-if="index > 0">
                        <q-input 
                            v-model.number="heating_rates[index - 1]"
                            type="number"
                            filled
                            step="0.1"
                            style="max-width: 200px"
                        />
                    </td>
                    <td v-else-if="index == 0">
                        
                    </td>
                    <td>
                        <q-input 
                            v-model.number="temperature_plateaus[index]"
                            type="number"
                            filled
                            step="1"
                            style="max-width: 200px"
                        />
                    </td>
                    <td>
                        <q-input 
                            v-model.number="temperature_hold_times[index]"
                            type="number"
                            filled
                            step="0.1"
                            style="max-width: 200px"
                        />
                    </td>
                </tr>
            </table>
        </div>
        <q-btn 
            v-on:click="run_simulation = true" 
            type="button" 
            label="Run Simulation"
            id="run-simulation-button"
        />    
    </q-form>
</div>
