.rounded-corners {
    border: 1px solid #04203b;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
}


/* ========================================
    Custom Media Queries
======================================== */

/* Mobile */

/*@media (max-width: 767px) {
    .hero-header {
        padding: 3em 1em 1em 1em;
        text-align: center;
        max-height: 550px;
    }
    .speaker .feature {
        width: 100%
    }
    .footer-credit {
        text-align: center;
        padding: 40px 20px;
    }
    ul.footer-menu {
        text-align: center;
        margin-top: 30px;
    }
}*/


/* iPad Portrait */

/*@media (min-width: 768px) and (max-width: 991px) {
    .hero-header {
        padding: 3em 1em 1em 1em;
        text-align: center;
    }
    .speaker .feature {
        width: 49%;
        margin-right: 7px;
    }
    ul.footer-menu {
        margin-top: 0;
    }
}*/


/* iPad Landscape */

/*@media (min-width: 992px) and (max-width: 1199px) {
    .speaker .feature {
        width: 49%;
        margin-right: 9px;
    }
}

#main-heading {
	font-size: 62px;
	font-weight: 500;
	color: #fff;
}

#nav-bar-logo {
	margin-top: -8px;
	width: 40px;
}

#home {
	padding-bottom: 2em;
}*/
